.view-attendees-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
}

@media only screen and (max-width: 920px) {
  .view-attendees-container {
    flex-wrap: wrap;
  }
}